.about-page-development-image {
    width: 500px;
}

.about-page-development-image-wrapper {
    padding-top: 50px;
    padding-left: 100px;
}

.about-page-developent-title {
    font-size: 60px;
    color: black;
}

.about-page-development-title-wrapper {
    padding-left: 200px;
}

.about-page-development-content {
    font-size: 30px;
    text-align: center;
}

.about-page-design-section {
    background-color: black;
}

.about-page-design-title {
    font-size: 60px;
    color:white;
}

.about-page-design-title-wrapper {
    padding-left: 250px;
}

.about-page-design-words {
    color: white;
    font-size: 30px;
    padding-left: 100px;
}

.about-page-design-iamge {
    width: 450px;
    height: 350px;
}

.about-page-design-image-wrapper {
    padding-top: 50px;
    padding-left: 300px;
}

.about-page-edit-images {
    width: 500px;
}

.about-page-edit-images-wrapper {
    padding-top: 50px;
    padding-left: 100px;
}

.about-page-edit-title {
    font-size: 60px;
    color:black;
}

.about-page-edit-title-wrapper {
    padding-top: 30px;
    padding-left: 350px;
}

.about-page-edit-words {
    font-size: 30px;
    color: black;
    padding-left: 50px;
}










